body {
}
header {
  margin: 50px;
  text-align: center;
  color: brown;
}

ol {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
  font-size: 20px;
  background-color: rgb(160, 160, 160);

  list-style-type: upper-roman;
}
p.title {
  font-size: 24px;
  font-weight: bold;
}
p.school {
  font-weight: bold;
  color: rgb(211, 211, 211);
}
ul {
  line-height: 30px;
}
a {
  transition: all 0.3s;
}
a:link {
  color: brown;
}
a:visited {
  color: rgb(42, 42, 42);
}
a:hover {
  color: rgb(211, 211, 211);
}
