header {
  margin: 50px;
  text-align: center;
  color: rgb(64, 64, 64);
  text-shadow: 13px 7px 11px rgba(66, 68, 90, 1);
}
main {
}
ol {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px;
  font-size: 20px;
  background-color: rgb(160, 160, 160);
  list-style-type: upper-roman;
  box-shadow: 2px 1px 18px -8px rgba(0, 0, 0, 1);
}
h2.title {
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 2px black;
}
h3.school {
  font-weight: bold;
  color: rgb(211, 211, 211);
}
ul {
  line-height: 30px;
}
a {
  transition: all 0.3s;
}
a:link,
a:visited {
  color: rgb(42, 42, 42);
}

a:hover {
  color: rgb(211, 211, 211);
}
